<!--The content below is only a placeholder and can be replaced.-->
  <div class="container">
    <button class="Chat-icon" id="chatbot" (click)="openModal(chatBotModal)"></button>
  </div>

  <!-- Modal -->
  <div class="modal fade" #chatBotModal tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <section class="modal-content"> 
        <div>
            <div class="modal-content1 closeModel" id="closeModel">
                <div class="modalheader">
                    <div class="pull-left rounded-circle" id="bot_image"></div>
                    <div class="imageinfo">
                        <span id="botname"><span>AI Admin</span><p style="font-size:9px;margin-top:-2px;"><i class="fa-solid fa-circle" style="color: #4eef53"></i>&nbsp;Online</p></span>
                    </div>
                    <div class="closetime"><span><i (click)="closeModal()" class="close ml-auto" data-dismiss="modal" id="close" class="fa fa-times"></i></span></div>
                  </div>
             </div>
            <div class="card-body" id="chatlogs" #chatlogs>

              <div *ngIf="flag" class="chat-bubble">
                <div class="typing">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
              </div>

              <div *ngIf="!flag" class="d-flex">
                <div class="botMsg">
                  <div class="defaultbotimg"></div>Hi there! My name is AI Admin. I will be assisting you to surf through the website.
                </div>
              </div>

              <div *ngIf="!flag" class="d-flex">
                <div class="BottimeMsg">
                  {{initialBotDate}}
                </div>
              </div>

            </div>
            <div id="chat_footer">
              <div class="input-bar">
                  <div class="input-bar-item width100">
                    <form #inputMsg="ngForm" (ngSubmit)="onSubmit()">
                        <div class="input-group">
                          <input autocomplete="off"  required placeholder="Enter Message here" (ngModelChange)="Empty()" type="text" class="form-control" name="chatModal.inputQuery" [(ngModel)]="chatModal.inputQuery">
                          <span *ngIf="sendButton==true" class="input-group-btn">                          
                              <button type="submit" style="background-color: rgb(0, 164, 189);width:80px;" class="btn btn-block rounded">
                                  <i style="color: white;" class="fa fa-paper-plane" aria-hidden="true"></i>
                              </button>
                          </span>
                          <span *ngIf="sendButton==false" class="input-group-btn">                          
                              <button type="submit" style="background-color: rgb(0, 164, 189);width:80px;" class="btn btn-block rounded" disabled>
                                  <i style="color: white;" class="fa fa-paper-plane" aria-hidden="true"></i>
                              </button>
                          </span>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
      </section>
    </div>
  </div>