
<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="form-area">
                    <!-- <div class="form-content">
                        <h2>Signup</h2>
                        <p>The social Signup button is a simple way to trigger the Facebook Signup process and Twitter Signup process on your website or web app.</p>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i><span>facebook</span></a></li>
                            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a></li>
                        </ul>
                    </div> -->
                    <div class="form-input">
                        <h2>Signup Form</h2>
                        <form [formGroup]="userForm" (ngSubmit) = "onSubmit(userForm.value)">
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched) ? '2px solid red' : ''}" type="text" formControlName="firstName"  id="firstName" name="firstName" minlength="4" maxlength="10" required [ngClass]="{ 'is-invalid':  submitted || (f['firstName'].touched || f['firstName'].dirty) && f['firstName'].errors}">
                                <label [ngStyle]="{'opacity':f['firstName'].invalid && f['firstName'].value && (f['firstName'].dirty || f['firstName'].touched) ? '0' : ''}">First Name</label>
                                <div *ngIf=" submitted || f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['firstName'].errors?.['required']">
                                      First Name is required
                                    </div>
                                    <div *ngIf="f['firstName'].errors?.['minlength']">
                                      First Name must have at least 4 characters
                                    </div>
                                    <div *ngIf="f['firstName'].errors?.['maxlength']">
                                      First Name must have at most 10 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched) ? '2px solid red' : ''}" type="text" formControlName="lastName" id="lastName" name="lastName" minlength="4" maxlength="10" required [ngClass]="{ 'is-invalid':  submitted || (f['lastName'].touched || f['lastName'].dirty) && f['lastName'].errors}">
                                <label [ngStyle]="{'opacity':f['lastName'].invalid && f['lastName'].value && (f['lastName'].dirty || f['lastName'].touched) ? '0' : ''}">Last Name</label>
                                <div *ngIf=" submitted || f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['lastName'].errors?.['required']">
                                      Last Name is required
                                    </div>
                                    <div *ngIf="f['lastName'].errors?.['minlength']">
                                      Last Name must have at least 4 characters
                                    </div>
                                    <div *ngIf="f['lastName'].errors?.['maxlength']">
                                      Last Name must have at most 10 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['email'].invalid && (f['email'].dirty || f['email'].touched) ? '2px solid red' : ''}" formControlName="email" type="email" id="email" name="email" required [ngClass]="{ 'is-invalid':  submitted || (f['email'].touched || f['email'].dirty) && f['email'].errors}">
                                <label [ngStyle]="{'opacity':f['email'].invalid && f['email'].value && (f['email'].dirty || f['email'].touched) ? '0' : ''}">Email</label>
                                <div *ngIf=" submitted || f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['email'].errors?.['required']">
                                      Email is required
                                    </div>
                                    <div *ngIf="f['email'].errors?.['email']">
                                      Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['phone'].invalid && (f['phone'].dirty || f['phone'].touched) ? '2px solid red' : ''}" type="text" formControlName="phone" id="phone" name="phone" required [ngClass]="{ 'is-invalid':  submitted || (f['phone'].touched || f['phone'].dirty) && f['phone'].errors}">
                                <label [ngStyle]="{'opacity':f['phone'].invalid && f['phone'].value && (f['phone'].dirty || f['phone'].touched) ? '0' : ''}">Mobile No</label>
                                <div *ngIf=" submitted || f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['phone'].errors?.['required']">
                                      Phone Number is required
                                    </div>
                                    <div *ngIf="f['phone'].errors?.['pattern']">
                                      Phone Number must be a valid phone number
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['companyName'].invalid && (f['companyName'].dirty || f['companyName'].touched) ? '2px solid red' : ''}" type="text" formControlName="companyName" id="companyName" name="companyName" required minlength="4" maxlength="10" [ngClass]="{ 'is-invalid':  submitted || (f['companyName'].touched || f['companyName'].dirty) && f['companyName'].errors}">
                                <label [ngStyle]="{'opacity':f['companyName'].invalid && f['companyName'].value && (f['companyName'].dirty || f['companyName'].touched) ? '0' : ''}">Company Name</label>
                                <div *ngIf=" submitted || f['companyName'].invalid && (f['companyName'].dirty || f['companyName'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['companyName'].errors?.['required']">
                                      Company Name is required
                                    </div>
                                    <div *ngIf="f['companyName'].errors?.['minlength']">
                                      Company Name must have at least 4 characters
                                    </div>
                                    <div *ngIf="f['companyName'].errors?.['maxlength']">
                                      Company Name must have at most 10 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input [type]="showPassword ? 'text' : 'password'" [ngStyle]="{'border-bottom':f['password'].invalid && (f['password'].dirty || f['password'].touched) ? '2px solid red' : ''}" type="password" formControlName="password" id="password" name="password" required [ngClass]="{ 'is-invalid':  submitted || (f['password'].touched || f['password'].dirty) && f['password'].errors}">
                                <label [ngStyle]="{'opacity':f['password'].invalid && f['password'].value && (f['password'].dirty || f['password'].touched) ? '0' : ''}">Password</label>
                                <div *ngIf=" submitted || f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['required']">
                                      Password is required
                                    </div>
                                    <div *ngIf="f['password'].errors?.['pattern']">
                                      Password must be a valid
                                    </div>
                                 </div>
                            </div>

                            <br>
                            <br>
                            <div style="padding-left: 0px" class="form-group form-check">
                                <input (click)="doAction($event)" style="width: 15px;height: 15px;" type="checkbox" name="showPassword" id="showPassword"><a style="color: black"> Show Password</a>
                            </div>
                            <br>
                            <div style="padding-left: 0px;" class="form-group form-check">
                                <input formControlName="termsAndConditions" required style="width: 15px;height: 15px;" [ngClass]="{ 'is-invalid':  submitted || (f['termsAndConditions'].touched || f['termsAndConditions'].dirty) && f['termsAndConditions'].errors}"  type="checkbox" checked="checked" name="termsAndConditions" id="termsAndConditions"> I agree to the <a style="color: rgba(103,58,183);" routerLink="login">Terms & Conditions</a>
                                <div *ngIf="submitted || f['termsAndConditions'].invalid && (f['termsAndConditions'].dirty || f['termsAndConditions'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['termsAndConditions'].errors?.['required']">
                                        Accept Ts & Cs is required
                                    </div>
                                </div>
                            </div>

                            <div class="myform-button">
                                <button [ngStyle]="!userForm.valid ? {background: 'lightgrey', cursor: 'no-drop'} : {}" [disabled]="!userForm.valid" type="submit" class="myform-btn">Register</button>
                            </div>
                            <p class="have-account-line">Already have an Account? <a style="color: rgba(103,58,183);" routerLink="login">Sign in</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>