
<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="form-area">
                    <!-- <div class="form-content">
                        <h2>Signup</h2>
                        <p>The social Signup button is a simple way to trigger the Facebook Signup process and Twitter Signup process on your website or web app.</p>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i><span>facebook</span></a></li>
                            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a></li>
                        </ul>
                    </div> -->
                    <div class="form-input">
                        <div class="reset-psw">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="reset-psw">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                        </div>
                        <form [formGroup]="userForm" (ngSubmit) = "onSubmit(userForm.value)">
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['oldPassword'].invalid && (f['oldPassword'].dirty || f['oldPassword'].touched) ? '2px solid red' : ''}" type="password" formControlName="oldPassword" id="oldPassword" name="oldPassword" required [ngClass]="{ 'is-invalid':  submitted || (f['oldPassword'].touched || f['oldPassword'].dirty) && f['oldPassword'].errors}">
                                <label [ngStyle]="{'opacity':f['oldPassword'].invalid && f['oldPassword'].value && (f['oldPassword'].dirty || f['oldPassword'].touched) ? '0' : ''}">Old Password</label>
                                <div *ngIf=" submitted || f['oldPassword'].invalid && (f['oldPassword'].dirty || f['oldPassword'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['oldPassword'].errors?.['required']">
                                     Old password is required
                                    </div>
                                    <div *ngIf="f['oldPassword'].errors?.['pattern']">
                                     Old password must be a valid
                                    </div>
                                 </div>
                            </div>
                            <div class="form-group">
                                <input (keyup)="onNewPasswordKey($event)" [ngStyle]="{'border-bottom':f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched) || (!flag && newPassword!=confirmNewPassword) ? '2px solid red' : ''}" type="password" formControlName="newPassword" id="newPassword" name="newPassword" required [ngClass]="{ 'is-invalid':  submitted || (f['newPassword'].touched || f['newPassword'].dirty) && f['newPassword'].errors || (!flag && newPassword!=confirmNewPassword)}">
                                <label [ngStyle]="{'opacity':f['newPassword'].invalid && f['newPassword'].value && (f['newPassword'].dirty || f['newPassword'].touched) || (!flag && newPassword!=confirmNewPassword) ? '0' : ''}">New Password</label>
                                <div *ngIf=" submitted || f['newPassword'].invalid && (f['newPassword'].dirty || f['newPassword'].touched) || (!flag && newPassword!=confirmNewPassword)" class="invalid-feedback">
                                    <div *ngIf="f['newPassword'].errors?.['required']">
                                      New password is required
                                    </div>
                                    <div *ngIf="f['newPassword'].errors?.['pattern']">
                                      New password must be a valid
                                    </div>
                                    <div *ngIf="!flag && newPassword!=confirmNewPassword">
                                      New passsword and Confirm password didn't match
                                    </div>
                                 </div>
                            </div>
                            <div class="form-group">
                                <input (keyup)="onConfirmNewPasswordKey($event)" [ngStyle]="{'border-bottom':f['confirmNewPassword'].invalid && (f['confirmNewPassword'].dirty || f['confirmNewPassword'].touched) || (flag && newPassword!=confirmNewPassword) ? '2px solid red' : ''}" type="password" formControlName="confirmNewPassword" id="confirmNewPassword" name="confirmNewPassword" required [ngClass]="{ 'is-invalid':  submitted || (f['confirmNewPassword'].touched || f['confirmNewPassword'].dirty) && f['confirmNewPassword'].errors || (flag && newPassword!=confirmNewPassword)}">
                                <label [ngStyle]="{'opacity':f['confirmNewPassword'].invalid && f['confirmNewPassword'].value && (f['confirmNewPassword'].dirty || f['confirmNewPassword'].touched || (flag && newPassword!=confirmNewPassword)) ? '0' : ''}">Confirm Password</label>
                                <div *ngIf=" submitted || f['confirmNewPassword'].invalid && (f['confirmNewPassword'].dirty || f['confirmNewPassword'].touched) || (flag && newPassword!=confirmNewPassword)" class="invalid-feedback">
                                    <div *ngIf="f['confirmNewPassword'].errors?.['required']">
                                      Confirm password is required
                                    </div>
                                    <div *ngIf="f['confirmNewPassword'].errors?.['pattern']">
                                      Confirm password must be a valid
                                    </div>
                                    <div *ngIf="flag && newPassword!=confirmNewPassword">
                                      New passsword and Confirm password didn't match
                                    </div>
                                 </div>
                            </div>
                            <div class="myform-button">
                                <button [ngStyle]="(!userForm.valid) || (flag && newPassword!=confirmNewPassword) || (!flag && newPassword!=confirmNewPassword) ? {background: 'lightgrey', cursor: 'no-drop'} : {}" [disabled]="(!userForm.valid) || (flag && newPassword!=confirmNewPassword) || (!flag && newPassword!=confirmNewPassword)" type="submit" class="myform-btn">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>