
<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="form-area login-form">
                    <!-- <div class="form-content">
                        <h2>Login</h2>
                        <p>The social login button is a simple way to trigger the Facebook Login process and Twitter Login process on your website or web app.</p>
                        <ul>
                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i><span>facebook</span></a></li>
                            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i><span>twitter</span></a></li>
                        </ul>
                    </div> -->
                    <div class="form-input">
                        <div class="reset-psw">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="reset-psw">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                        </div>
                        <form [formGroup]="userForm" (ngSubmit) = "onSubmit(userForm.value)">
                            <div class="form-group">
                                <input [ngStyle]="{'border-bottom':f['username'].invalid && (f['username'].dirty || f['username'].touched) ? '2px solid red' : ''}" type="text" formControlName="username"  id="username" name="username" [ngClass]="{ 'is-invalid':  submitted || (f['username'].touched || f['username'].dirty) && f['username'].errors}" required>
                                <label [ngStyle]="{'opacity':f['username'].invalid && f['username'].value && (f['username'].dirty || f['username'].touched) ? '0' : ''}">Email</label>
                                <div *ngIf=" submitted || f['username'].invalid && (f['username'].dirty || f['username'].touched)" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors?.['required']">
                                      Email is required
                                    </div>
                                    <div *ngIf="f['username'].errors?.['email']">
                                      Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="myform-button">
                                <button [ngStyle]="!userForm.valid ? {background: 'lightgrey', cursor: 'no-drop'} : {}" [disabled]="!userForm.valid" type="submit" class="myform-btn">Send OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>